In [ ]:
import edvart

import plotly.offline as py
py.init_notebook_mode()

In [ ]:
%%markdown
## Basic report

In [ ]:
dataset = edvart.example_datasets.dataset_titanic()

In [ ]:
dataset.head()

In [ ]:
report = edvart.DefaultReport(
    dataset,
    verbosity=0,
    columns_overview=['Name', 'Survived'],
    columns_univariate_analysis=['Name', 'Age', 'Pclass'],
    groupby='Survived',
)

In [ ]:
report.export_notebook('test-export.ipynb')

In [ ]:
report.export_html(
    html_filepath='test-export.html',
    dataset_name='Titanic',
    dataset_description='Dataset that contains data for 891 of the real Titanic passengers.'
)

In [ ]:
report.show()

In [ ]:
%%markdown
## Timeseries report

In [ ]:
dataset_ts = edvart.example_datasets.dataset_global_temp()

In [ ]:
report_ts = edvart.DefaultTimeseriesReport(
    dataset_ts,
    # Monthly data -> analyze yearly seasonality
    sampling_rate=12,
    stft_window_size=24,
)

In [ ]:
report_ts.export_notebook("test-export-ts.ipynb")

In [ ]:
report_ts.export_html("test-export-ts.html")

In [ ]:
report_ts.show()